<h1 align="center"> HOŞGELDİNİZ</h1>

@{
    <h5 align="center" >BUTONA BASARAK DEVAM EDEBİLİRSİNİZ</h5>
    <center>
        <form asp-controllers="cuzdanController" asp-action="cuzdansayfa">
            <button type="submit" class="btn bnt-lg btn-primary">CÜZDANLAR</button>
        </form>
    </center>
       
    <h1>
    
    </h1>
  }

